* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

body {
  background: lightgrey;
}

header,
footer {
  height: 123px;
  border: 1px solid grey;
  clear: both;
}

footer {
  border-bottom: 0;
}
div {
  border: 1px solid gray;
  float: right;
}

.section1 div {
  height: 200px;
  width: 33.3333%;
}

.section2 div {
  height: 250px;
  width: 50%;
}
